@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Outfit:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap');

// fonts
$Outfit: 'Outfit', sans-serif;
$Abril: 'Abril Fatface', cursive;
$HomeFont: 'El Messiri', 'sans-serif';

// colors
$dark: rgb(29, 29, 29);
$light: #fff;
$primary: #3E8D55;
$text: white;
$NoHover: #B9B9B9;
$Hover: #B8293D;
$ItemText: #E45A5A;

// spacing
$spacing-md: 16px;
$spacing-lg: 32px;

//border radius
$borderRadius: 12px;

// header height
$headerHeight: 110px;

@mixin breakpoint($point) {
    @if $point == md {
        @media (min-width: 48em) {
            @content
        }
    }
}

* {
    font-family: 'Times New Roman', Times, serif;
}

