@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Outfit:wght@100;200;300;400;500;600;700;800&display=swap');


// fonts
$Outfit: 'Outfit', sans-serif;
$Abril: 'Abril Fatface', cursive;

// colors
$dark: rgb(29, 29, 29);
$light: #fff;
$primary: #EBFD72;
$text: #1B463C;

// spacing
$spacing-md: 16px;
$spacing-lg: 32px;

//border radius
$borderRadius: 12px;

// header height
$headerHeight: 80px;

@mixin breakpoint($point) {
    @if $point == md {
        @media (min-width: 48em) {
            @content
        }
    }
}

