@import "../../styles/variables.scss";

.container {
  width: 100%;
  height: 100%;

  .introSlide {
    // CHANGE THIS BASED ON RESTAURANT
    background-image: url("../../assets/images/PhoPic.png");
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;

    .button {
      padding-left: 2vw;
      padding-right: 2vw;
      padding-top: 15px;
      padding-bottom: 15px;
      background-color: $primary;
      border-radius: 25px;
      font-family: $Outfit;
      color: #1B463C;
      border-style: none;
      font-size: 1.2vw;
      font-weight: 500;
      margin-top: 40vh;
      margin-right: 60vw;
      flex-direction: row;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      min-width: 20vw;
    
    
      &:hover {
        background-color: #f7ffbc;
        cursor: pointer;
      }
    
    }
  }
  
  .orderContainer {
    width: 100%;
    height: 100vh;
    background-color: #1B463C;

    .menuContainer {
      width: 20%;
      height: 50vh;
      border: 1px solid black;
      display: flex;
      flex-direction: column;
      padding-left: 2%;
      padding-top: 2%;
      background-color: #f7ffbc;

      .menuTitle {
        font-size: 2vw;
      }

      .category {
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border: 1px solid red;
        font-size: 1.5vw;
      }
    }
  }

}



@media (max-width: 750px) {
  .container {
    width: 100%;
  
    .introSlide {
      background-image: url("../../assets/images/PhoPic.png");
      height: 100vh;
      width: 100%;
      justify-content: center;
      align-items: center;
      display: flex;
    }
  
  }

  .button {
    padding-left: 7vw;
    padding-right: 7vw;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: $primary;
    border-radius: 25px;
    font-family: $Outfit;
    color: #1B463C;
    border-style: none;
    font-size: 3vw;
    font-weight: 500;
    flex-direction: row;
    margin-top: 40vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-width: 20vw;

    &:hover {
      background-color: #f7ffbc;
      cursor: pointer;
    }
  }
}