@import "../../styles/variables.scss";

.container {
    // min-height: calc(100vh - #{$headerHeight});
    // background: $light;
    display: flex;
    justify-content: center;
    align-items: center;
}