@import "../../styles/variables.scss";

.header {
    z-index: 99999999;
    background: linear-gradient(180deg, #FFF 80%, rgba(255, 255, 255, 0.00) 100%);
    position: sticky;
    top: 0;
    width: 100%;
    height: $lgHeaderHeight;
    padding: 0 1.5rem;
    @include breakpoint(md) {
        height: $headerHeight;
        padding: 0 3rem;
    }

    &__content {
        color: $text;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 100;

        &__hamburger {
            font-size: 25px;
            position: absolute;
            top: 4.5rem;
            right: 3rem;

            @include breakpoint(md) {
                display: none;
            }
        }

        &__logo {
            font-size: 1.2rem;
            font-family: $basicFont;
            font-weight: 700;
            text-decoration: none;
            color: $text;

            margin-bottom: 0.7rem;

            @include breakpoint(md) {
                margin-bottom: 0;
                font-size: 3rem;
            }

            @media (min-width: 767px) and (max-width: 950px){
                font-size: 2.3rem;
            
            }
        }

        &__nav {
            font-family: $basicFont;

            font-size: 0.9rem;
            font-weight: 500;
            align-items: center;
            justify-content: center;
            display: contents;

            padding-bottom: 30px;

            @include breakpoint(md) {
                font-size: 1.3rem;
                display: flex;
                transform: none;
                flex-direction: row;
                background: transparent;
                height: 30%;
                width: auto;
                position: static;
            }
            ul {
                list-style: none;
                padding: 0;
                align-items: center;
                display: flex;
                flex-direction: column;
                @include breakpoint(md) {
                    flex-direction: row;
                    align-items: center;
                    margin-bottom: 0;
                    margin-right: calc(0.5rem + #{$spacing-md});
                }
                li {
                    &:not(:last-child) {
                        margin-bottom: $spacing-md;
                        @include breakpoint(md) {
                            margin-bottom: 0;
                            margin-right: $spacing-md;
                        }
                    }
                    a {
                        text-decoration: none;
                        color: inherit;
                        padding: 0.75rem 1.25rem;
                        border-radius: $borderRadius;
                        transition: 0.3s ease all;
                    }
                }
            }
            button {
                border: 1px transparent;
                cursor: pointer;
                outline: none;
                padding: 0.75rem 1.25rem;
                font-size: 0.8rem;
                background: transparent;
                color: $accent;
                transition: 0.3s ease all;

                @include breakpoint(md) {
                    font-size: 1.2rem;
                }
            }
        }
    }
}

.header-closed {
    height: $headerHeight ;
}