@import "./../styles/variables.scss";




.container {
    // margin-top: 250px;
    height: calc(100vh - #{$headerHeight});
    display: flex;
    overflow-y: scroll;
    // max-height: 80vh;
    max-width: 95vw;
    width: 95%;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    position: relative;
    overflow:scroll;

}


.header {
    // left:0;
    font-family: $Outfit;
    font-size: 3vw;
    font-weight: 800;
    width: 100%;
    margin-top: 3%;
    
}

.about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 3%;
}

.img {
    width: 45vw;
    max-width: 700px;
}

.imageContain {
    width: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    width: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.headerr {
    font-size: 1.5vw;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.headerr1 {
    font-size: 2vw;
    letter-spacing: 2px;
    margin-bottom: 10px;

}

.info {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 7%;
    width: 100%;
}


.body {
    font-size: 20px;

}

.item {
    display: flex;
    flex-direction: row;
    margin-top: 3%;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}

.infoText {
    margin-left: 2%;
    text-align: center;
    font-weight: 200;
    font-size: 15px;
}

@media (max-width: 1000px) {

    .header {
        text-align: center;
        font-size: 5vw;
    }

    .img {
        width: 100%;
    }

    .imageContain {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .text {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .about {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: 3%;
    }
    
    .headerr {
        font-size: 2.5vw;
        letter-spacing: 2px;
        margin-bottom: 10px;
        margin-top: 25px;
    }

    .headerr1 {
        font-size: 3vw;
        letter-spacing: 2px;
        margin-bottom: 10px;
    
    }
    
  
}


