@import "./../styles/variables.scss";

.item-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  font-family: $HomeFont;
}

.grid-item {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  margin-bottom: 7%;
  margin-right: 3%;
}

.image {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 3%;
  
}

.image-wrapper {
  position: relative;
  width: 300px;
  height: 300px;
}

.red-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 55%;
  height: 55%;
  background-color: $Hover;
  opacity: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-text {
  color: white;
  font-size: 24px;
  text-align: center;
  font-family: $HomeFont;
}

.boxText {
  font-family: $HomeFont;
}


.imageText {
  margin-top: 16px;
  position: relative;
  font-size: 19px;
  font-family: $HomeFont;
}

.price-button-container {
  display: flex;
  align-items: center;
}

.button-container {
  display: flex;
  align-items: center;
}

.price {
  margin-right: 149%;
  color: $ItemText;
  font-family: $HomeFont;
}

.button {
  margin: 10%;
  color: rgba(255, 255, 255, 1);
  background: $ItemText;
  border-radius: 4px;
  width: 40px;
  
}

@media (max-width: 750px) {
  .grid-item {
    width: 100%;
    height: auto;
    margin-bottom: 4%;
    margin-right: 0;
  }

  .image {
    width: 100px;
    height: 100px;
  }

  .image-wrapper {
    width: 100%;
    height: auto;
  }

  .button {
    margin: 5%;
  }
}