@import "./../styles/variables.scss";

.item-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  font-family: $HomeFont;
}

.grid-item {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  margin-bottom: 6%;
  margin-right: 3%;
}

.image {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 3%;
}

.image-wrapper {
  position: relative;
  width: 300px;
  height: 300px;
}

.red-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  background-color: red;
}


.image-text {
  margin-top: 15px;
  position: relative;
}

.price-button-container {
  display: flex;
  align-items: center;
}

.button-container {
  display: flex;
  align-items: center;
}

.price {
  margin-right: 148%;
  color: $ItemText;
}

.button {
  margin: 10%;
  color: rgba(255, 255, 255, 1);
  background: $ItemText;
  border-radius: 4px;
  width: 40px;
}
