@import "./../styles/variables.scss";

.container {
    min-height: 100vh;
    padding: 50px;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    justify-content: flex-start; 
}

.left-container {
    flex: 20%;
    height: 85%;
    justify-content: center;
    font-size: 30px;
    font-family: $HomeFont;
    color: $Hover;
    line-height: 3;
    overflow-y: auto;
    margin-top: 3.4%;
    top: 111px;
    position: sticky;
  }

  .menu {
    font-family: $HomeFont;
}

    .menu-categories {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        list-style: none;
        font-size: 30px;
        line-height: 2;
        padding-left: 0; 
        margin-top: 0;
    }

    .menu-categories li {
        color: $NoHover;
        transition: color 0.3s, text-decoration 0.3s;
        font-family: $HomeFont;
    }
      
    .menu-categories li:hover {
        color: $Hover;
        text-decoration: underline;
    }

    .refCat {
        cursor: pointer;
      }
  
    .right-container {
        flex: 80%;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        box-sizing: border-box;
        margin-top: 2.2%;
      }

.titleLineContainer {
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  .menu-heading {
    position: relative;
    font-size: 30px;
    color: $Hover;
    margin-bottom: 2%;
    margin-top: 3%;
    font-family: $HomeFont;
  }
  
  .menu-heading::after {
    content: '';
    position: absolute;
    width: calc(100% - 18%);
    height: 1px;
    background-color: $Hover;
    bottom: 50%;
    left: var(--left-position);
    transform: translateY(50%);
    border-bottom: 3px solid $Hover;
    font-family: $HomeFont;
    margin-left: 2%;
  }


    
  
  .line {
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: black;
    bottom: 50%;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 100px;
    max-width: 100%;
    justify-content: space-between;
  }


.buttonContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 90%;
    font-family: $HomeFont;
}

.item {
    position: relative;
    overflow: hidden;
    height: 25%;
    width: calc(25% - 50px);
    margin-bottom: 50px; 
    border-radius: 10px;
  
    &:hover {
      cursor: pointer;
      opacity: 0.9;
    }
  }


.header {
    text-align: center;
    font-size: 2vw;
    position: absolute;
    color: white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: fit-content;
    margin: auto;
    z-index: 999999999;
}

@media (max-width: 750px) {

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        height: 100%;
        width: 100%;
    }

        .leftContainer {
            flex: 1;
            border: 1px solid black;
            border-radius: 5px;
        }
        
        .rightContainer {
            flex: 2;
            background-color: lightgreen;
            border: 1px solid black;
            border-radius: 5px;
        }

    .buttonContainer {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        width: 90%;
        height: 90%
    }

    .item {
        position: relative;
        overflow: hidden;
        height: 30%;
        width: 40%;
        border-radius: 10px;
    
        &:hover {
            cursor:pointer;
            opacity: 0.9;
        }
    
    }

    .header {
        text-align: center;
        font-size: 15px;
        position: absolute;
        color: white;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: fit-content;
        margin: auto;
        z-index: 999999999;
    }

}