@import "../../styles/variables.scss";

.container {
    height: calc(100vh - #{$headerHeight});
    display: flex;
    max-width: 95vw;
    width: 95%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.header {
    font-family: $basicFont;
    font-size: 50px;
    font-weight: 300;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width: 768px){
    .header{
        font-size: 5vw;
    }
}

@media (min-width: 769px) and (max-width: 950px){
    .header{
        font-size: 5vw;
    }
}